#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bouncing-animation {
  animation: bounce 0.6s ease-in-out ;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  } 
  50% {
    transform: translateY(-20px);
  }
}